In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\koman\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\koman\anaconda3\lib\site-packages (from selenium) (1.25.11)

Python program to scrape data for "DATA ANALYST" job position in "BANGALORE LOCATION" to Scarpe job-title,job-location,company_name,experience_required.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
##Connecting to web driver
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
url="https://www.naukri.com/"
driver.get(url)

In [5]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [6]:
#Writing on search bar
search_job.send_keys("Data Scientist")

In [7]:
#finding element for job location
job_location=driver.find_element_by_id("qsb-location-sugg")
job_location

In [8]:
#Entering the location
job_location.send_keys("Bangalore")

In [9]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [10]:
#Clicking on search button
search_btn.click()

In [11]:
#Let us scrap the Job titles first
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag

[<selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="30edff72-66fe-452c-b6a6-71a0dbaee7c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="7d1e77d8-84a9-429e-9976-07bd6702e682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="21531220-ec3d-4841-b130-f21b5eb776fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="1e7bdd6e-eb74-4087-ba37-8cc3f061119d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="273b9422-be19-423e-8214-9d568a5660ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="526cb1c4-e88b-4ce4-9e0e-c972eae65bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="11af7fe0-97e6-4bea-a03e-40787a21b594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="dd016377-a41b-42b9-b430-707c292295da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="17800f83-9af0-49a5-b9a0-4d8294c6151e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="60628f07-7c5b-42ad-9e99-ec9e0a025c29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="985e1893-2570-48f0-91ae-51d8a92c3257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="82db0bcc-7a8a-4c92-94fa-a8119a767a99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="46531a58-b98f-4e4a-8d58-8ea3f4b02968")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="7cd63317-bbbf-4ee7-bc9d-cb29010ee09a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="fddc951f-7581-443f-9a2d-f631939efc14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="273ad463-7e67-4941-a2e2-da7033ee1c20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="58edcbaf-1f43-4ac0-9a90-64c13e66cdce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="f9fafe14-8b1d-43ed-9f5d-6857a83b1bd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="166b7120-0ef7-4dcc-bfb3-00a9dc1c433b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="4890bfc7-59bb-419f-bbb2-cff1a2fc4f6c")>]

In [12]:
#Now let us scrap the text from the web elements
job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)
job_titles

['Data Scientist- Senior Business Analyst/Lead Analyst',
 'Senior Data Scientist',
 'Senior Data Scientist (Analytics),',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - KPO',
 'Senior Data Scientist',
 'Lead Data Scientist - Retail Industry',
 'Senior/ Lead Data Scientist',
 'Advanced Data Scientist',
 'Data Scientist',
 'Data Scientist with SAS',
 'Data Scientist',
 'Data Scientist- Natural Language Processing (Hyderabad Location)',
 'Looking For Data Scientist For Chennai Location',
 'Data Scientist',
 'Data Scientist']

In [13]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc_tag

[<selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="0239c24a-fdc4-4094-aee5-c6c841c9ee60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="d625a295-5686-4e4d-87aa-e448502ec789")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="3821c88b-fabf-4169-a6d4-cb958126f5f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="69bcd90c-48dd-4a24-812b-c654b1366f3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="5a545445-a658-4e02-b01d-8049e8bc090b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="9a4ea604-37f7-49ed-8ca1-c2cc675de5d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="44c7cc51-5fcf-4f3f-8ff6-9df02e5e99e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="b45dcdec-4405-4e62-a42d-4d54982c3456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="319d6b4a-a302-4f95-b60a-b49c63c5e666")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="f8e0987e-b38e-476c-9d9c-73f2441630fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="5248934f-76db-4a21-85f0-c00996e6f428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="0a4cf3f9-92be-485a-952f-4ad980eab5fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="4c71383d-cc0a-4165-b5ad-be8a2574f76c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="d26d593f-d153-4659-92df-8e8ab12a4b30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="6c263768-48c6-45e7-afb1-ec300e38cd7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="9ae655be-3b8a-465f-bf0e-6c2745c87c24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="62f9d7bd-3de0-4002-9951-9c3eca454f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="d43c95e8-52ad-48bf-86ac-070345dc70d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="24df7bee-5f59-4531-b14b-c3662f2dc080")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2b7721224844470c8c237d847b80625", element="fe0548b4-0add-4864-a19c-74bf2a247c68")>]

In [14]:
Location=[]
for i in loc_tag:
    Location.append(i.text)
Location

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru']

In [15]:
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_name=[]
for i in comp_tag:
    comp_name.append(i.text)
comp_name

['Evalueserve.com Pvt. Ltd',
 'Signify',
 'Luxoft',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'SMITHS DETECTION SYSTEMS PRIVATE LIMITED',
 'TransOrg Solutions Services (P) Ltd.',
 'Philips India Limited',
 'TalentCo Search Pvt Ltd',
 'TalentCo Search Pvt Ltd',
 'IBM India Pvt. Limited',
 'Superior Group',
 'Exxon Mobil Corporation',
 'Travel Centric Technology',
 'Mu Sigma',
 'Cignex Datamatics Technologies Limited',
 'Clifford Chance Business Services Private Limited',
 'Intelizign Engineering Services Pvt Ltd',
 'ELPIS IT SOLUTIONS PVT LTD',
 'Cognizant Technology Solutions India Pvt Ltd']

In [16]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
ex_tag=[]
for i in exp_tag:
    ex_tag.append(i.text)

In [17]:
naukri=pd.DataFrame()
naukri['Title']=job_titles[:10]
naukri['Job location']=Location[:10]
naukri['Company name']=comp_name[:10]
naukri['Experience']=ex_tag[:10]
naukri

,Title,Job location,Company name,Experience
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,2-7 Yrs
1,Senior Data Scientist,Bangalore/Bengaluru,Signify,4-9 Yrs
2,"Senior Data Scientist (Analytics),",Bangalore/Bengaluru,Luxoft,5-10 Yrs
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,3-6 Yrs
5,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,8-10 Yrs
6,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,4-6 Yrs
7,Senior Data Scientist,Bangalore/Bengaluru,Philips India Limited,8-10 Yrs
8,Senior Data Scientist - KPO,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",TalentCo Search Pvt Ltd,6-10 Yrs
9,Senior Data Scientist,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",TalentCo Search Pvt Ltd,6-10 Yrs

Python program to scarpe data from Naukri.com for Bangalore location which includes job-title,job-location,company_name,full job-description.

In [18]:
url="https://www.naukri.com/"
driver.get(url)

In [19]:
#searching for job
search_job=driver.find_element_by_id("qsb-keyword-sugg")

In [20]:
#writing on Job search bar
search_job.send_keys("Data Scientist")

In [21]:
#finding element of Job location
job_location=driver.find_element_by_id("qsb-location-sugg")
#Entering the location
job_location.send_keys("Bangalore")
#Getting element of Search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
#Clicking on search button
search_btn.click()

In [22]:
#Getting job titles
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)
#Getting locations
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Location=[]
for i in loc_tag:
    Location.append(i.text)
#Getting company name
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_name=[]
for i in comp_tag:
    comp_name.append(i.text)

In [23]:
#Getting job Description
url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_desc=[]
for i in url:
    job_desc.append(i.get_attribute('href'))

In [24]:
job_description=[]
for i in job_desc:
    driver.get(i)
    try:
        job_desc1=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_description.append(job_desc1.text)
    except:
        pass

In [25]:
ban_details=pd.DataFrame()
ban_details['Titles']=job_titles[:10]
ban_details['Job_location']=Location[:10]
ban_details['Company name']=comp_name[:10]
ban_details['Description']=job_description[:10]
ban_details

,Titles,Job_location,Company name,Description
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,Job Description\nUnderstand and design analyti...
1,Senior Data Scientist,Bangalore/Bengaluru,Signify,"What you ll do\nResearch, design and prototype..."
2,"Senior Data Scientist (Analytics),",Bangalore/Bengaluru,Luxoft,Data and Analytics Proposal Responses for Cr...
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,Roles and Responsibilities\n\nWell-versed in q...
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,"Be a part of the Enterprise IT , Information..."
5,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,- Ability to understand a problem statement an...
6,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,- Ability to understand a problem statement an...
7,Senior Data Scientist,Bangalore/Bengaluru,Philips India Limited,Provide advanced analytical capabilities to su...
8,Senior Data Scientist - KPO,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",TalentCo Search Pvt Ltd,Job Role Responsibilities\nBe a part of a grow...
9,Senior Data Scientist,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",TalentCo Search Pvt Ltd,We are looking for a Data Scientist with 6+ ye...

Python program to scarpe the data using filters

In [26]:
url="https://www.naukri.com/"
driver.get(url)

In [27]:
#Getting element for Job search
search_job=driver.find_element_by_id("qsb-keyword-sugg")
#Writing on search bar
search_job.send_keys("Data Scientist")
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
#Clicking on search button
search_btn.click()

In [28]:
##Selecting the DELHI/NCR FILTER
Loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")
Loc.click()

In [29]:
pac=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]")
pac.click()

In [30]:
#Getting job titles
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in titles_tag:
    job_titles.append(i.text)
#Getting locations
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Location=[]
for i in loc_tag:
    Location.append(i.text)
#Getting company name
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_name=[]
for i in comp_tag:
    comp_name.append(i.text)
#Getting experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
req_exp=[]
for i in exp:
    req_exp.append(i.text)

In [31]:
filter_detail=pd.DataFrame()
filter_detail['Job TITLE']=job_titles[:10]
filter_detail['Job Location']=Location[:10]
filter_detail['Company name']=comp_name[:10]
filter_detail['Experience']=req_exp[:10]
filter_detail

,Job TITLE,Job Location,Company name,Experience
0,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
2,Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",Agreeya,3-6 Yrs
3,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba...",Experiture,5-7 Yrs
6,Data Scientist- Image Processing & Computer Vi...,Delhi / NCR,ProtoGene Consulting Private Limited,4-7 Yrs
7,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
8,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
9,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs

Python program to Scrape data from Glassdoor website for Datascientist designation in Noida location which includes company_name,No.of days ago when job was posted,Rating of the company.

In [32]:
url="https://www.glassdoor.co.in/index.html"
driver.get(url)

Not able to login to the Glassdoor portal so skipping 4 and 5 questions

In [34]:
url="https://www.flipkart.com"
driver.get(url)

In [37]:
#Getting element for item search
search_item=driver.find_element_by_xpath("//input[@class='_3704LK']")
#Writing on search bar
search_item.send_keys("Sun glasses")
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
#Clicking on search button
search_btn.click()

In [42]:
First_brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands=[]
for i in First_brands:
    brands.append(i.text)

In [45]:
urls=[]
for i in driver.find_element_by_xpath("//a[@class='ge-49M']"):
    urls.append(i.get_attribute("href"))

TypeError: 'WebElement' object is not iterable